

body{
  font-size: 12px;
  background-color: black;
}

.container_image{
  display: flex;
  justify-content: center;
}
.container_word{
  display: flex;
  justify-content: center;
}
.nav ul{
  list-style: none;
}
li{
  list-style: none;
}
.footer{
  background-color:grey;
}
